/*      app.css Custom CSS File
        Name: Muhammad Hassan 
        ID: 301178235
        Date: 03 June 2021
*/

.top-margin {
    margin-top: 100px;
}

.left-margin {
    margin-left: 100px;
}

.bottom-margin {
    margin-bottom: 100px;
}

.bottom-right {
    margin-bottom: 60px;
    margin-right: 100px;
}

.justify {
    text-align: justify;
}