<div class="container">
    <div class="row">
        <div class="col-md">
            <img src = "./Assets/images/personal/Picture.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
            
        </div>
        <div class = "col-md">
            <!--h2->About Me</!--h2-><-->
            <h1 class="display-3">Muhammad Hassan</h1>
            <blockquote class="blockquote">I am enrolled in Software Engineering Technology Fast Track program at Centennial College. Previously, I had done my graduation in Electrical Engineering. 
            Now, I am looking for a co-op position as a software developer for fall 2021 and winter 2022 semester. I have experience in programming and full stack development.</blockquote>
            <div class="mx-auto" style="width: 200px">
                <a href="./Assets/docs/resume.pdf"><button type="button" class="btn btn-secondary btn-lg">View Resume</button></a>
            </div> 
        </div>
    </div>
</div>