<div class="container">
    <div>
        <span>
            <img src = "./Assets/images/picture.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
            <h1>Muhammad Hassan</h1>
        </span>
        <span class ="container">
            <h2>About Me</h2>
            <small class="text-muted">Muhammad Hassan</small>
            <p>I am a student of Software Engineering Technology </p>
        </span>
    </div>
</div>