<div class="container bottom-margin">
    <div class="row">
        <!--Display picture-->
        <div class="col-auto">
            <img src = "./Assets/images/personal/Picture.jpg" class = "img-fluid rounded" width="500px"  ALIGN=”right”/>
        </div>
        <div class = "col-md">
            <!--About Me-->
            <h1 class="display-3">Muhammad Hassan</h1>
            <blockquote class="blockquote justify">I have passion for programming and software development. 
                I developed interest in coding when I started embedded systems programming during my bachelors 
                in electrical engineering from University of Engineering and Technology, Lahore. After that, 
                I did some self study in software programming and gained some initial experience in it. Currently,
                I am enrolled in Software Engineering Technology Fast Track program at Centennial College where 
                I learned advanced concepts in object oriented programming, technologies and frameworks for software, 
                web and mobile application development. I have experience in object oriented programming and full stack development.
            </blockquote>
            <!--Resume Download button-->
            <div class="mx-auto" style="width: auto;">
                <a href="./Assets/docs/resume.pdf"><button type="button" class="btn btn-secondary btn-lg">View Resume</button></a>
            </div> 
        </div>
    </div>
</div>