<div class="container">
    <div>
        <span>
            <img src = "./Assets/images/picture.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
            
        </span>
        <span>
            <!--h2->About Me</!--h2-><-->
            <h1 class="display-3">Muhammad Hassan</h1>
            <blockquote class="blockquote">I am a student of Software Engineering Technology Fast Track program at Centennial College. Currently, I am looking for a co-op position as a software developer for fall 2021 and winter 2022 semester. I have some experience in full stack development.</blockquote>
        </span>
    </div>
</div>