<div class="container">
    <div>
     
            <img src = "./Assets/images/picture.jpg" class = "img-fluid float-left"  ALIGN=”right”/>
            <h1>Muhammad Hassan</h1>
  
            <h2>About Me</h2>
            <p>I am a student of Software Engineering Technology </p>
            <div class="col-md-12">
<img src="./Assets/images/picture.jpg" class="pull-left">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste molestiae aliquam optio mollitia, unde quas eaque voluptatem dignissimos eos maiores magni reprehenderit nisi, corrupti nemo hic id cum quasi officiis!</p>
</div>

     
    </div>
</div>