<div class="container">
    <h1 class="display-5">Contact Me</h1>

    <div class="panel panel-default">
  <div class="panel-heading">Contact Number</div>
  <div class="panel-body"><i class="fas fa-mobile"></i>647-390-3271</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Email Address</div>
  <div class="panel-body">m.hassan.88@outlook.com</div>
</div>
</div>