<div class="container">
    <h1 class="display-5">Contact Me</h1>

    <div class="card">
        <div class="card-header">Contact Number</div>
        <div class="card-body"><i class="fas fa-lg-mobile"></i> 647-390-3271</div>
    </div>
    <div class="card panel-primary">
        <div class="card-header">Email Address</div>
        <div class="card-body"><i class="fas fa-envelope-open-text"></i> m.hassan.88@outlook.com</div>
    </div>
    <div class="card panel-primary">
        <div class="card-header">Send Message</div>
        <div class="card-body"><i class="fas fa-sms"></i> m.hassan.88@outlook.com</div>
    </div>
</div>