<div class="container">
    <h1 class="display-5">Contact Me</h1>

    <div class="card">
        <div class="card-header"><i class="fas fa-mobile"></i> Contact Number</div>
        <div class="card-body"> 647-390-3271</div>
    </div>
    <div class="card panel-primary">
        <div class="card-header"><i class="fas fa-envelope-open-text"></i> Email Address</div>
        <div class="card-body"> m.hassan.88@outlook.com</div>
    </div>
    <div class="card panel-primary">
        <div class="card-header"><i class="fas fa-sms"></i> Message Me</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>