<div class="container">
    <h1 class="display-5">Contact Me</h1>

    <div class="card">
        <div class="card-header">Contact Number</div>
        <div class="card-body"><i class="fas fa-mobile"></i> 647-390-3271</div>
    </div>
    <div class="card panel-primary">
        <div class="card-header">Email Address</div>
        <div class="card-body"><i class="fas fa-envelope-open-text"></i> m.hassan.88@outlook.com</div>
    </div>
    <div class="card panel-primary">
        <div class="card-header">Send Message</div>
        <div class="card-body"><i class="fas fa-sms"></i> <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div></div>
    </div>
</div>