<div class="container">
    <marquee behavior="alternate" width="100%" direction="left" height="100px"><h1>Welcome to my Portfolio website!</h1></marquee>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <h2>Mission</h2>
            <p><em>"To facilitate the humanity by providing innovative software solution to help everyone access sevices round the clock."</em></p>
        </div>
    </div>
</div>