<div class="container text-center">
    <h1 >Welcome to my website!</h1>
    <div class="top-margin">
        <h2>Mission</h2>
        <p><em>"To facilitate the humanity by providing innovative software solution to help everyone access sevices round the clock."</em></p>
        <div class="top-margin">
            <p>Choose from the following options</p>
            <div class="btn-group">
                <a href="/about" class="btn btn-secondary" aria-current="page">About Me</a>
                <a href="/projects" class="btn btn-secondary">Projects</a>
                <a href="/services" class="btn btn-secondary">Services</a>
                <a href="/contact" class="btn btn-secondary">Contact Me</a>
            </div>
        </div>
    </div>
</div>
