<div class="container text-center">
    <h1 class="top-margin">Welcome to my website!</h1>
    <div class="top-margin">
        <h2 class="top-margin">Mission</h2>
        <p class="top-margin"><em>"To facilitate the humanity by providing innovative software solution to help everyone access sevices round the clock."</em></p>
        <p>Choose from the following options</p>
        <div class="btn-group">
            <a href="#" class="btn btn-secondary" aria-current="page">About Me</a>
            <a href="#" class="btn btn-secondary">Projects</a>
            <a href="#" class="btn btn-secondary">Services</a>
            <a href="#" class="btn btn-secondary">Contact Me</a>
        </div>
    </div>
</div>