<div class="container">
    <h1 class="display-3">Projects</h1>
    <div class="row">
        <div class="col-md">
            <img src = "./Assets/images/Picture.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
        </div>
        
        <div class = "col-md">
            <small class="text-muted">With faded secondary text</small>
            <blockquote class="blockquote">I am an Electrical Engineer and currently enrolled in Software Engineering Technology Fast Track program 
            at Centennial College. Also, I am looking for a co-op position as a software developer for fall 2021 and winter 2022 semester. I have some experience in full stack development.</blockquote>
        </span>
    </div>
    <div class="row">
        <div class="col-md">
            <img src = "./Assets/images/Picture.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
        </div>
        <div class = "col-md">
            <small class="text-muted">With faded secondary text</small>
            <blockquote class="blockquote">I am an Electrical Engineer and currently enrolled in Software Engineering Technology Fast Track program 
            at Centennial College. Also, I am looking for a co-op position as a software developer for fall 2021 and winter 2022 semester. I have some experience in full stack development.</blockquote>
        </span>
    </div>
    <div class="row">
        <div class="col-md">
            <img src = "./Assets/images/Picture.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
        </div>
        <div class = "col-md">
            <small class="text-muted">With faded secondary text</small>
            <blockquote class="blockquote">I am an Electrical Engineer and currently enrolled in Software Engineering Technology Fast Track program 
            at Centennial College. Also, I am looking for a co-op position as a software developer for fall 2021 and winter 2022 semester. I have some experience in full stack development.</blockquote>
        </span>
    </div>
</div>