<div class="container">
    <h1 class="display-3">Projects</h1>
    
    <div class="row">
        <div class="col-3">
            <img src = "./Assets/images/projects/project1.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
        </div>
        <div class = "col-md">
            <small class="text-muted">Academic Project 1 : E-commerce Website Frontend</small>
            <blockquote class="blockquote">Used Angular and Node.js to design and implement frontend of an e-commerce solution. Application was able to retrieve data from a backend api and display a list of products containing image and description of each of the products. Functionality included adding products to cart and navigation. Used bootstrap and CSS for styling.</blockquote>
        </div>
    </div><br>
    <div class="row">
        <div class="col-3">
            <img src = "./Assets/images/projects/project2.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
        </div>
        <div class = "col-md">
            <small class="text-muted">Academic Project 2 : Massenger Application</small>
            <blockquote class="blockquote">Worked on a messenger application. Designed Signup and signin page and implemented backend API for new user registeration and authentication. Used Material UI for styling.</blockquote>
        </div>
    </div><br>
    <div class="row">
        <div class="col-3">
            <img src = "./Assets/images/projects/project3.jpg" class = "img-fluid rounded float-start"  ALIGN=”right”/>
        </div>
        
        <div class = "col-md">
            <small class="text-muted">Project 3 : Employee Data Management Software</small>
            <blockquote class="blockquote">Made an employee data management application using Spring Boot for backend API development. Implemented token based authentication. It helped easy management and retrieval of employees' data.</blockquote>
        </div>
    </div>
</div>