
  <h1 class="display-3">Projects</h1>
  <!--Projects images and description-->
  <div class="row">
    <div class="col-auto">
      <img
        src="./Assets/images/projects/project1.jpg"
        class="img-fluid rounded float-start"
        width="250px"
        ALIGN="”right”"
      /></div>
    <div class="col-md">
      <small class="text-muted"
        >Academic Project 1 : E-commerce Website Frontend</small
      >
      <blockquote class="blockquote justify">
        Used Angular and Node.js to design and implement frontend of an
        e-commerce solution. Application was able to retrieve data from a
        backend API and display a list of products containing image and
        description of each of the products. Functionality included adding
        products to cart and navigation. Used bootstrap and CSS for styling.
      </blockquote>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-auto">
      <img
        src="./Assets/images/projects/project2.jpg"
        class="img-fluid rounded float-start"
        width="250px"
        ALIGN="”right”"
      />
    </div>
    <div class="col-md">
      <small class="text-muted"
        >Academic Project 2 : Massenger Application</small
      >
      <blockquote class="blockquote justify">
        Worked on a web messenger application. Used Node.js and React to design
        Sign up and sign in page and implemented backend API for new user
        registeration and authentication. Used Material-UI for styling.
      </blockquote>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-auto">
      <img
        src="./Assets/images/projects/project3.jpg"
        class="img-fluid rounded float-start"
        width="250px"
        ALIGN="”right”"
      />
    </div>

    <div class="col-md">
      <small class="text-muted"
        >Academic Project 3 : Survey Website</small
      >
      <blockquote class="blockquote justify">
        Worked in a team and used JavaScript with Node.js, express, and passport to create a survey website. It features user registration & authentication, survey creation, updating, and survey statistics. Used google-charts to display statistical results.
      </blockquote>
    </div>
  </div>

