<div class="container">
    <h1 class="display-3">Projects</h1>
    
    <div class="row">
        <div class="col">
            <img src = "./Assets/images/projects/project1.jpg"/>
            <blockquote class="blockquote">Software Development</blockquote>
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <img src = "./Assets/images/projects/project2.jpg"/>
            <blockquote class="blockquote">Web Development</blockquote>
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <img src = "./Assets/images/projects/project3.jpg"/>
            <blockquote class="blockquote">Web Development</blockquote>
        </div>
    </div>
</div>