<div class="container bottom-margin">
    <h1 class="display-3">Services</h1><br>
    <!--Services with images-->
    <div class="row">
        <!--Services offered as a Software developer-->
        <div class="col">
            <img src = "./Assets/images/services/soft.jpg" class="rounded" width="300px"/>
            <blockquote class="blockquote">Software Programming</blockquote>
        </div>
        <!--Services offered as a web developer-->
        <div class="col">
            <img src = "./Assets/images/services/web.jpg" class="rounded" width="300px"/>
            <blockquote class="blockquote">Web Development</blockquote>
        </div>
        <!--Services offered as a Mobile developer-->
        <div class="col">
            <img src = "./Assets/images/services/mob.jpg" class="rounded" width="300px"/>
            <blockquote class="blockquote">Mobile Applications</blockquote>
        </div>
    </div>
</div>