<div class="container margin-bottom">
    <h1 class="display-3">Services</h1><br>
    
    <div class="row">
        <div class="col">
            <img src = "./Assets/images/services/soft.jpg" class="rounded" width="300px"/>
            <blockquote class="blockquote">Software Programming</blockquote>
        </div>
        <div class="col">
            <img src = "./Assets/images/services/web.jpg" class="rounded" width="300px"/>
            <blockquote class="blockquote">Web Development</blockquote>
        </div>
        <div class="col">
            <img src = "./Assets/images/services/mob.jpg" class="rounded" width="300px"/>
            <blockquote class="blockquote">Mobile Applications</blockquote>
        </div>
    </div>
</div>